body {
    color: white; 
}

.container-fluid {
    /*background: rgb(0,153,115);*/
    background: linear-gradient(to bottom right, rgb(0,153,153),rgb(26,255,255));
    background: -moz-linear-gradient(to bottom right, rgb(0,153,153),rgb(26,255,255));
    background: -o-linear-gradient(to bottom right, rgb(0,153,153),rgb(26,255,255));
    background: -webkit-linear-gradient(to bottom right, rgb(0,153,153),rgb(26,255,255));
    height: 100%; /* for browsers that don't use vh */
    height: 100vh;
    width: auto;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one */
    display: flex;
    align-items: center;
}

.left-side {
    float: left;
}
